.table {
  border-collapse: collapse;
  border: 3px solid #ddd;
  box-shadow: 2px 2px 10px 0px rgba(44, 44, 44, 0.15);
  width: 900px;
  max-width: 80vw;
  margin: auto;
}

.tableHeader {
  background: var(--primary-color);
  color: var(--white-color);
}

.tableHeader th {
  padding: 1.1rem;
  text-transform: uppercase;
}

.tableBody td,
tr {
  border: 1px solid #ddd;
  padding: 0.75rem;
  transition: background-color 0.2s ease;
}

.tableBody .id,
.age {
  text-align: center;
}

.tableBody tr:hover {
  background-color: #ddd;
}
