@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Ubuntu:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html {
  --title-color: #322153;
  --white-color: #f0f0f5;
  --primary-color: #34cb79;
  --roboto-font: 'Roboto', sans-serif;
  --ubuntu-font: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2 {
  font-family: var(--ubuntu-font);
}

body {
  font-family: var(--roboto-font);
}

.App {
  display: flex;
  flex-direction: column;
}
