.btn {
  border: none;
  outline: none;
  font-size: 1.1rem;
  font-family: inherit;
  color: var(--white-color);
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--purple-color);
  display: block;
  margin: auto;
  transform: translateY(0px);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn:hover {
  background-color: var(--primary-color);
  transform: translateY(-3px);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
