.btn {
  border: none;
  outline: none;
  font-size: 1.1rem;
  font-family: inherit;
  color: var(--white-color);
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--purple-color);
  display: block;
  margin: auto;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: var(--primary-color);
}
